<div class="wave">
    <img class="wave" src="images\waves\footer-waves.png" alt="">
</div>

<footer id="main-footer" class="flex-center">

        <div class="footer-informations flex-center">
            <div class="footer-inner-con flex-center footer-links">
                <div class="footer-inner-text">
                    <p>About</p>
                </div>
                <div class="footer-links-a flex-center">
                    <a href="">About Us</a>
                    <a href="">Terms and Conditions</a>
                </div>
            </div>
            <div class="footer-inner-con flex-center footer-contact">
                <div class="footer-inner-text">
                    <p>Contact</p>
                </div>
                <div class="footer-contact-number">
                    ✆ 0992-207-5335
                </div>
                <div>
                    <a href="https://www.facebook.com/JLWToRiL">
                        <img src="images\icon\facebook.png" alt="">
                    </a>
                </div>
            </div>
            <div class="footer-inner-con flex-center footer-payment">
                <div class="footer-inner-text">
                    <p>Payment Option</p>
                </div>
                <img src="images\icon\gcash.png" alt="">
            </div>
        </div>

        <div class="map-text">
            Meet Up Area :
        </div>

        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d277.8027532630948!2d125.49745340352072!3d7.020347097061261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x32f90c39911f3af9%3A0x92559868a4acf782!2sAngel&#39;S%20Burger!5e0!3m2!1sen!2sph!4v1759065158256!5m2!1sen!2sph" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="footer-bottom">
            <p>© 2025 Elysian Cakes | Sweetly crafted in Davao 🍰</p>
        </div>

    </footer>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
</body>
</html>