<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ElysianBytes</title>

    <style>
        .loader-wrapper {
            position: fixed;
            top: 0; left: 0;
            width: 100%; height: 100vh;
            background: #faf2f2;
            z-index: 150;
            display: flex; /* inline flex-center */
            align-items: center;
            justify-content: center;
        }
        .loader { position: relative; }
        .one, .two {
            position: absolute;
            border-radius: 50%;
            height: 20px; width: 20px;
        }
        .one {
            background: #fff;
            opacity: 0;
            animation: loading 1.3s .65s infinite;
        }
        .two {
            background: #FF4081;
            opacity: 0;
            animation: loading 1.3s infinite;
        }
        @keyframes loading {
            0%   { opacity: 0; transform: scale(.15); box-shadow: 0 0 2px rgba(0,0,0,.1); }
            50%  { opacity: 1; transform: scale(2);   box-shadow: 0 0 10px rgba(0,0,0,.1); }
            100% { opacity: 0; transform: scale(.15); box-shadow: 0 0 2px rgba(0,0,0,.1); }
        }
    </style>

    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <section class="loader-wrapper">
        <div class="loader">
            <div class="one"></div>
            <div class="two"></div>
        </div>
    </section>

    <nav class="nav-bar flex-center nav-bar-top">
        <div class="nav-con nav-1 flex-center">
            <img src="images/title.png" alt="">
                <a href="/#trend-h2" class="link-1 link nav-link flex-center">
                    Trend
                </a>
                <a href="/gallery" class="link-2 link nav-link flex-center">
                    Gallery
                </a>
                <a href="/#main-footer" class="link-3 link nav-link flex-center">
                    Contact
                </a>
        </div>
        <div class="nav-con nav-3 flex-center">
            <div class="but-2 nav-but flex-center">
                <img src="images\icon\login.png" alt="">
                <a href="/logout" class="black nav-link-but">
                    Log Out
                </a>
            </div>
            <div class="but-3 flex-center">
                <div class="order-amount">
                    <%if(locals.orders) {%>
                        <%=orders%>
                    <%} else {%>
                        0
                    <%}%>
                </div>
                <a href="/order" class="cart-but flex-center">
                    <img src="images\icon\cart.png" alt="">
                </a>
            </div>
            
        </div>
    </nav>

    <header id="header" class="flex-center header-top">
        <div id="motto" class="flex-center">
            “Savor the Moment One Byte at a Time”
        </div>
    </header>